a {
  color: #AC51FF;
}
.main {
  width: 80%;
  margin: auto;
  font-size: 14pt;
  max-width: 800px;
}
h2:not(:first-of-type) {
  margin-top: 2em;
}
img.issuer-logo {
  height: auto;
  display: block;
  max-width: 400px;
  margin: 64px auto;
}
.indent {
  text-indent: 2em;
}
p {
  text-indent: 2em
}
section {
  margin-left: 40px;
}
.small-symbol {
  font-size: 0.64em;
  vertical-align: top;
}
.med-symbol {
  font-size: 0.8em;
  vertical-align: top;
}
.small-text {
  font-size: 0.8em;
}
