a {
  color: #AC51FF;
}
.main {
  width: 90%;
  margin: auto;
  font-size: 14pt;
  max-width: 800px;
}
h2:not(:first-of-type) {
  margin-top: 2em;
}
img.issuer-logo {
  height: auto;
  display: block;
  max-width: 400px;
  margin: 64px auto;
}
.indent {
  text-indent: 2em;
}
.noindent {
    text-indent: 0;
}
p {
  text-indent: 2em
}
section {
  margin-left: 5vh;
}
.small-symbol {
  font-size: 0.64em;
  vertical-align: top;
}
.small-text {
  font-size: 0.8em;
}
.descItem {
  text-align: center;
  font-weight: bold;
  margin-top: 15pt;
}