a {
  color: #AC51FF;
}
.main {
  width: 80%;
  margin: auto;
  font-size: 14pt;
  max-width: 800px;
}
h2:not(:first-of-type) {
  margin-top: 2em;
}
img.issuer-logo {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 64px auto;
}
section {
  margin-left: 40px;
}


